*{font-family: 'Montserrat';}

.App {
    --header_height: 250px;
}

.hw {

}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}